extends layout

block content

    h1 Current Ranking
    form#formCurrentRanking(name="currrentanking",method="post",action="/getcurrentranking")
        input#inputUserID(type="text", placeholder="user_id", name="user_id")
        input#inputRankType(type="text", placeholder="type", name="type")
        input#inputRankPart(type="text", placeholder="filter", name="filter")
        button#btnSubmit(type="submit") submit

    h1 Weekly Ranking
    form#formWeeklyRaking(name="weeklyranking",method="post",action="/getweeklyranking")
        input#inputUserID(type="text", placeholder="user_id", name="user_id")
        input#inputRankType(type="text", placeholder="type", name="type")
        input#inputRankPart(type="text", placeholder="filter", name="filter")
        button#btnSubmit(type="submit") submit
        