extends layout

block content
  div.container

    h3 User

    form.form-horizontal(name="signIn",method="post",action="/signIn")
      input(id="device_id", type="text", name="device_id", placeholder="device_id" required)
      input(id="email", type="email", name="email", placeholder="email" required)
      input(id="password", type="password", name="password", placeholder="password" required)
      input.btn(type="submit", value="signIn")

    form.form-horizontal(name="getProfile",method="post",action="/getProfile")
      input(id="email", type="text", name="user_id", placeholder="user_id (ObjID)", required)
      input(id="device_id", type="text", name="device_id", placeholder="device_id", required)
      input(id="aToken", type="text", name="aToken", placeholder="aToken", required)
      input(id="rToken", type="text", name="rToken", placeholder="rToken", required)
      input.btn(type="submit", value="getProfile")

    form.form-horizontal(name="getUserDownloads",method="post",action="/getUserDownloads")
      input(id="email", type="text", name="user_id", placeholder="user_id (ObjID)", required)
      input(id="device_id", type="text", name="device_id", placeholder="device_id", required)
      input(id="aToken", type="text", name="aToken", placeholder="aToken", required)
      input(id="rToken", type="text", name="rToken", placeholder="rToken", required)
      input.btn(type="submit", value="getUserDownloads")

    h3 Mindmap

    form.form-horizontal(name="getAllBooks",method="post",action="/getAllBooks")
      input(id="email", type="text", name="user_id", placeholder="user_id (ObjID)", required)
      input(id="device_id", type="text", name="device_id", placeholder="device_id", required)
      input(id="aToken", type="text", name="aToken", placeholder="aToken", required)
      input(id="rToken", type="text", name="rToken", placeholder="rToken", required)
      input(id="search", type="text", name="search", placeholder="search (optional)")
      input.btn(type="submit", value="getAllBooks")

    form.form-horizontal(name="getCategories",method="post",action="/getCategories")
      input(id="email", type="text", name="user_id", placeholder="user_id (ObjID)", required)
      input(id="device_id", type="text", name="device_id", placeholder="device_id", required)
      input(id="aToken", type="text", name="aToken", placeholder="aToken", required)
      input(id="rToken", type="text", name="rToken", placeholder="rToken", required)
      input(id="master_user_id", type="number", name="master_user_id", placeholder="master_user_id (int)", required)
      input.btn(type="submit", value="getCategories")

    form.form-horizontal(name="getAllPrivateBooks",method="post",action="/getAllPrivateBooks")
      input(id="email", type="text", name="user_id", placeholder="user_id (ObjID)", required)
      input(id="device_id", type="text", name="device_id", placeholder="device_id", required)
      input(id="aToken", type="text", name="aToken", placeholder="aToken", required)
      input(id="rToken", type="text", name="rToken", placeholder="rToken", required)
      input.btn(type="submit", value="getAllPrivateBooks")

    form.form-horizontal(name="getPrivateBooksFiltered",method="post",action="/getPrivateBooksFiltered")
      input(id="email", type="text", name="user_id", placeholder="user_id (ObjID)", required)
      input(id="device_id", type="text", name="device_id", placeholder="device_id", required)
      input(id="aToken", type="text", name="aToken", placeholder="aToken", required)
      input(id="rToken", type="text", name="rToken", placeholder="rToken", required)
      input(id="filter_type", type="text", name="filter_type", placeholder="filter_type (staff, department, position)", required)
      input.btn(type="submit", value="getPrivateBooksFiltered")

    form.form-horizontal(name="getAllPublicBooks",method="post",action="/getAllPublicBooks")
      input(id="email", type="text", name="user_id", placeholder="user_id (ObjID)", required)
      input(id="device_id", type="text", name="device_id", placeholder="device_id", required)
      input(id="aToken", type="text", name="aToken", placeholder="aToken", required)
      input(id="rToken", type="text", name="rToken", placeholder="rToken", required)
      input.btn(type="submit", value="getAllPublicBooks")

    form.form-horizontal(name="getPublicBooksCategory",method="post",action="/getPublicBooksCategory")
      input(id="email", type="text", name="user_id", placeholder="user_id (ObjID)", required)
      input(id="device_id", type="text", name="device_id", placeholder="device_id", required)
      input(id="aToken", type="text", name="aToken", placeholder="aToken", required)
      input(id="rToken", type="text", name="rToken", placeholder="rToken", required)
      input(id="category_id", type="number", name="category_id", placeholder="category_id (int)", required)
      input.btn(type="submit", value="getPublicBooksCategory")

    form.form-horizontal(name="getDetail",method="post",action="/getDetail")
      input(id="email", type="text", name="user_id", placeholder="user_id (ObjID)", required)
      input(id="device_id", type="text", name="device_id", placeholder="device_id", required)
      input(id="aToken", type="text", name="aToken", placeholder="aToken", required)
      input(id="rToken", type="text", name="rToken", placeholder="rToken", required)
      input(id="mindmap_id", type="text", name="mindmap_id", placeholder="mindmap_id (ObjID)", required)
      input.btn(type="submit", value="getDetail")

    form.form-horizontal(name="getDownload",method="post",action="/getDownload")
      input(id="email", type="text", name="user_id", placeholder="user_id (ObjID)", required)
      input(id="device_id", type="text", name="device_id", placeholder="device_id", required)
      input(id="aToken", type="text", name="aToken", placeholder="aToken", required)
      input(id="rToken", type="text", name="rToken", placeholder="rToken", required)
      input(id="book_id", type="number", name="book_id", placeholder="book_id (int)", required)
      input.btn(type="submit", value="getDownload")


    h3 Comments

    form.form-horizontal(name="addComment",method="post",action="/addComment")
      input(id="email", type="text", name="user_id", placeholder="user_id (ObjID)", required)
      input(id="device_id", type="text", name="device_id", placeholder="device_id", required)
      input(id="aToken", type="text", name="aToken", placeholder="aToken", required)
      input(id="rToken", type="text", name="rToken", placeholder="rToken", required)
      input(id="content_id", type="text", name="content_id", placeholder="content_id", required)
      input(id="comment", type="text", name="comment", placeholder="comment", required)
      input(id="link", type="text", name="link", placeholder="link (optional)")
      input.btn(type="submit", value="addComment")

    form.form-horizontal(name="getComments",method="post",action="/getComments")
      input(id="email", type="text", name="user_id", placeholder="user_id (ObjID)", required)
      input(id="device_id", type="text", name="device_id", placeholder="device_id", required)
      input(id="aToken", type="text", name="aToken", placeholder="aToken", required)
      input(id="rToken", type="text", name="rToken", placeholder="rToken", required)
      input(id="lecture_id", type="text", name="content_id", placeholder="content_id", required)
      input(id="show_all", type="number", name="show_all", placeholder="1 (true):0 (false)", required)
      input.span2(id="limit", type="text", name="limit", placeholder="limit (default: 10)")
      input.span2(id="page", type="text", name="page", placeholder="page (default: 1)")
      input.btn(type="submit", value="getComments")

    form.form-horizontal(name="deleteComment",method="post",action="/deleteComment")
      input(id="email", type="text", name="user_id", placeholder="user_id (ObjID)", required)
      input(id="device_id", type="text", name="device_id", placeholder="device_id", required)
      input(id="aToken", type="text", name="aToken", placeholder="aToken", required)
      input(id="rToken", type="text", name="rToken", placeholder="rToken", required)
      input(id="comment_id", type="text", name="comment_id", placeholder="comment_id (objID)", required)
      input.btn(type="submit", value="deleteComment")

    form.form-horizontal(name="addAnswerComment",method="post",action="/addAnswerComment")
      input(id="email", type="text", name="user_id", placeholder="user_id (ObjID)", required)
      input(id="device_id", type="text", name="device_id", placeholder="device_id", required)
      input(id="aToken", type="text", name="aToken", placeholder="aToken", required)
      input(id="rToken", type="text", name="rToken", placeholder="rToken", required)
      input(id="comment_id", type="text", name="comment_id", placeholder="comment_id (objID)", required)
      input(id="answer", type="text", name="answer", placeholder="answer", required)
      input.btn(type="submit", value="addAnswerComment")

    form.form-horizontal(name="getAnswerComments",method="post",action="/getAnswerComments")
      input(id="email", type="text", name="user_id", placeholder="user_id (ObjID)", required)
      input(id="device_id", type="text", name="device_id", placeholder="device_id", required)
      input(id="aToken", type="text", name="aToken", placeholder="aToken", required)
      input(id="rToken", type="text", name="rToken", placeholder="rToken", required)
      input(id="comment_id", type="text", name="comment_id", placeholder="comment_id (objID)", required)
      input.btn(type="submit", value="getAnswerComments")

    form.form-horizontal(name="deleteAnswerComment",method="post",action="/deleteAnswerComment")
      input(id="email", type="text", name="user_id", placeholder="user_id (ObjID)", required)
      input(id="device_id", type="text", name="device_id", placeholder="device_id", required)
      input(id="aToken", type="text", name="aToken", placeholder="aToken", required)
      input(id="rToken", type="text", name="rToken", placeholder="rToken", required)
      input(id="answer_id", type="text", name="answer_id", placeholder="answer_id (objID)", required)
      input.btn(type="submit", value="deleteAnswerComment")

    h3 QnA

    form.form-horizontal(name="putQnA",method="post",action="/putQnA")
      input(id="email", type="text", name="user_id", placeholder="user_id (ObjID)", required)
      input(id="device_id", type="text", name="device_id", placeholder="device_id", required)
      input(id="aToken", type="text", name="aToken", placeholder="aToken", required)
      input(id="rToken", type="text", name="rToken", placeholder="rToken", required)
      input(id="question", type="text", name="question", placeholder="question", required)
      input(id="title", type="text", name="title", placeholder="title")
      input(id="upload_img_url", type="text", name="upload_img_url", placeholder="upload_img_url")
      input.btn(type="submit", value="putQnA")

    form.form-horizontal(name="getQnAList",method="post",action="/getQnAList")
      input(id="email", type="text", name="user_id", placeholder="user_id (ObjID)", required)
      input(id="device_id", type="text", name="device_id", placeholder="device_id", required)
      input(id="aToken", type="text", name="aToken", placeholder="aToken", required)
      input(id="rToken", type="text", name="rToken", placeholder="rToken", required)
      input.btn(type="submit", value="getQnAList")

    form.form-horizontal(name="getQnA",method="post",action="/getQnA")
      input(id="email", type="text", name="user_id", placeholder="user_id (ObjID)", required)
      input(id="device_id", type="text", name="device_id", placeholder="device_id", required)
      input(id="aToken", type="text", name="aToken", placeholder="aToken", required)
      input(id="rToken", type="text", name="rToken", placeholder="rToken", required)
      input(id="qna_id", type="text", name="qna_id", placeholder="qna_id (ObjID)", required)
      input.btn(type="submit", value="getQnA")

    //

      form.form-horizontal(name="putReview",method="post",action="/putReview")
        input(id="token", type="text", name="token", placeholder="token", required)
        input(id="mindmap_id", type="text", name="mindmap_id", placeholder="mindmap_id (ObjID)", required)
        input(id="score", type="number", name="score", placeholder="score (int)", required)
        input(id="title", type="text", name="title", placeholder="title", required)
        input(id="comment", type="text", name="comment", placeholder="comment", required)
        input.btn(type="submit", value="putReview")

      form.form-horizontal(name="getReviews",method="post",action="/getReviews")
        input(id="token", type="text", name="token", placeholder="token", required)
        input(id="mindmap_id", type="text", name="mindmap_id", placeholder="mindmap_id (ObjID)", required)
        input.span2(id="limit", type="text", name="limit", placeholder="limit (default: 10)")
        input.span2(id="page", type="text", name="page", placeholder="page (default: 1)")
        input.btn(type="submit", value="getReviews")

      form.form-horizontal(name="getMyReviews",method="post",action="/getMyReviews")
        input(id="token", type="text", name="token", placeholder="token", required)
        input.btn(type="submit", value="getMyReviews")

      form.form-horizontal(name="getMyReview",method="post",action="/getMyReview")
        input(id="token", type="text", name="token", placeholder="token", required)
        input(id="mindmap_id", type="text", name="mindmap_id", placeholder="mindmap_id (ObjID)")
        input.btn(type="submit", value="getMyReview")


  div.footer